.project-technologies {
  background-color: #272727;
  display: flex;
  flex-direction: column;
}


.section-title_techs {
  margin-top: 100px;
}

.techs__name {
  margin: 90px 0 26px;
  text-align: center;
  font: normal 400 50px/1.16 Inter, Arial, sans-serif;
  letter-spacing: -0.04em;
}

.section-table__description_techs {
  max-width: 460px;
  font: normal 400 14px/1.43 Inter, Arial, sans-serif;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 auto;
}

.techs__cards {
  margin: 100px 0;
  font: normal 400 14px/1.21 Inter, Arial, sans-serif;
  letter-spacing: -0.04em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-auto-rows: 60px;
  justify-content: center;
  gap: 10px;
}

.techs__item {
  background: #303030;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 769px) {
  .techs__name {
    margin-top: 80px;
    margin-bottom: 22px;

  }

  .techs__cards {
    margin-top: 83px;
    margin-bottom: 90px;
    padding: 0 10px;
    grid-template-columns: repeat(auto-fit, 84px);
    grid-auto-rows: 57px;
    font-size: 12px;
    line-height: 1.25;
  }

  .section-table__description_techs {
    font-size: 12px;
    line-height: 1.5;
  }

  .section-title_techs {
    margin-top: 90px;
  }
}


@media screen and (max-width: 601px) {}

@media screen and (max-width: 481px) {
  .project-technologies {
    background-color: #202020;
  }

  .techs__name {
    margin-top: 60px;
    margin-bottom: 24px;
    font: normal 400 47px/1.2 Inter, Arial, sans-serif;

  }

  .line_type_techs {
    border-color: #000;
  }
}

@media screen and (max-width: 321px) {

  .project-technologies {
    font: normal 400 18px/1.22 Inter, Arial, sans-serif;
  }

  .section-title_techs {
    margin-top: 70px;
    margin-bottom: 28px;
  }



  /* .techs__name {
    margin-top: 60px;
    margin-bottom: 24px;
    font: normal 400 30px/1.2 Inter, Arial, sans-serif;

  } */

  .section-table__description_techs {
    font-size: 11px;
    line-height: 1.45;
  }

  .techs__cards {
    margin-top: 50px;
    margin-bottom: 70px;


  }
}