.main-foto {
  border-radius: 10px;
  margin-left: 49px;
  max-width: 270px;
  min-width: 200px;
  object-fit: cover;
  width: calc(100% / 3.2)
}

.owner__about-self {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  width: clamp(330px, 43vw, 600px)
}

.owner__description {
  font: normal 500 18px/1.11 Inter, Arial, sans-serif;
  font-size: clamp(12px, 1.2vw, 18px);
  margin-top: 18px
}

.owner__name {
  font: normal 400 50px/1.16 Inter, Arial, sans-serif;
  font-size: clamp(50px, 4.5vw, 58px);
  letter-spacing: -.04em
}

.owner__quote {
  font: normal 400 14px/1.57 Inter, Arial, sans-serif;
  font-size: clamp(12px, 1.45vw, 14px);
  margin-top: 26px
}

.owner__resume {
  display: flex;
  justify-content: space-between;
  margin-top: 66px
}

.project-owner {
  background-color: #202020;
  display: flex;
  flex-direction: column
}

.social-nets {
  display: flex;
  font: normal 500 14px/1.21 Inter, Arial, sans-serif
}

.social-nets__item {
  margin-right: 20px
}

@media screen and (max-width: 769px) {
  .owner__description {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 16px
  }

  .owner__name {
    font-size: 40px;
    line-height: 1
  }

  .owner__quote {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px
  }
}

@media screen and (max-width: 601px) {
  .main-foto {
    margin-left: 25px
  }

  .owner__description {
    margin-top: 10px
  }

  .owner__quote {
    margin-top: 10px
  }
}

@media screen and (max-width: 481px) {
  .main-foto {
    align-self: center;
    border-radius: 10px;
    margin: 0;
    max-width: 292px;
    object-fit: cover;
    width: 292px
  }

  .owner__about-self {
    align-self: center;
    margin-top: 40px;
    max-width: 292px
  }

  .owner__name {
    font: normal 400 30px/1.2 Inter, Arial, sans-serif;
    letter-spacing: -.04em
  }

  .owner__resume {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 60px, auto;
    margin-top: 60px
  }

  .section-title_owner {
    margin-bottom: 28px;
    margin-top: 70px
  }

  .social-nets {
    font: normal 500 14px/1.21 Inter, Arial, sans-serif;
    margin-top: 40px
  }
}

@media screen and (max-width: 321px) {
  .main-foto {
    border-radius: 10px;
    margin-left: 0;
    object-fit: cover;
    width: 292px
  }

  .owner__about-self {
    margin-top: 40px;
    width: 100%
  }

  .owner__description {
    font: normal 400 11px/1.45 Inter, Arial, sans-serif;
    margin-top: 20px
  }

  .owner__name {
    font: normal 400 30px/1.2 Inter, Arial, sans-serif;
    letter-spacing: -.04em
  }

  .owner__quote {
    font: normal 400 11px/1.45 Inter, Arial, sans-serif;
    margin-top: 20px
  }

  .owner__resume {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 60px
  }

  .section-title_owner {
    margin-bottom: 28px;
    margin-top: 70px
  }

  .social-nets {
    font: normal 500 14px/1.21 Inter, Arial, sans-serif;
    margin-top: 40px
  }
}