.attention__container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* position: sticky; */
    /* top: 100px; */
    /* left: auto; */
    background-color: #fff0;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .attention__container_hidden{
 display: none;
  }
 
.attention {
    background-color: #3ddc84;
    border-radius: 20px;
    padding: 51px 50px;
    transition: all .5s ease-in;
    opacity: 1;
    max-width: 350px;
}

/* .attention_active {
    visibility: visible;
    opacity: 1;
} */

.attention__text {
    color: #fff;
}
