#res-menu__toggle {
  opacity: 0
}

.res-menu {
  display: none;
  font: normal 400 14px/1.29 Inter, Arial, sans-serif;
  margin: 15px 0;
}

@media screen and (max-width: 769px ) {
  #res-menu__toggle:checked+.res-menu__btn>span::after {
    background: url(../../../images/cross-close-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 5;

  }

  #res-menu__toggle:checked+.res-menu__btn>span::before {
    display: none
  }

  #res-menu__toggle:checked~.btns-block__list,
  .btns-block__list_res-menu_type_auth
   {

    right: 0;
  }

  .btns-block__link:first-child {
    display: block;
    margin-top: 0;

  }

  .btns-block__link {
    margin-top: 28px;
    font: normal 500 18px/1.22 Inter, Arial, sans-serif;

  }

  .btns-block__list_res-menu,
  .btns-block__list_res-menu_type_auth {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 80px 0;
    position: fixed;
    right: calc(-67vw);
    top: 0;
    bottom: 0;
    transition-duration: .25s;
    width: calc(100vw - 33vw);
    overflow-x: hidden;
  }

  .menu__btn>span,
  .res-menu__btn>span::before,
  .res-menu__btn>span::after {
    display: block;
    height: 44px;
    transition-duration: .25s;
    width: 44px
  }

  .res-menu {
    display: flex;


  }

  .res-menu__btn {
    cursor: pointer;
    
  

  }

  .res-menu__btn>span::after {
    content: '';
    display: block
  }

  .res-menu__btn>span::before {
    background: url(../../../images/burger-menu.svg);
    content: '';
    position: absolute;
    top: auto;
    right: auto;
  }

  .accaunt-btn {
    margin: 0;
    position: absolute;
    bottom: 99px;

  }
}

@media screen and (max-width: 480px) {

    .btns-block__list_res-menu,
  .btns-block__list_res-menu_type_auth{
    right: -100vw;
    width: 100vw
  }

}
@media screen and (max-height: 550px) {
  #res-menu__toggle:checked+.res-menu__btn>span::after {
    background: url(../../../images/cross-close-burger.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 5;

  }

  #res-menu__toggle:checked+.res-menu__btn>span::before {
    display: none
  }

  #res-menu__toggle:checked~.btns-block__list {

    right: 0;
  }

  .btns-block__link:first-child {
    display: block;
    margin-top: 0;

  }

  .btns-block__link {
    margin-top: 28px;
    font: normal 500 18px/1.22 Inter, Arial, sans-serif;

  }

  .btns-block__list_res-menu {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 80px 0;
    position: fixed;
    right: calc(-67vw);
    top: 0;
    bottom: 0;
    transition-duration: .25s;
    width: calc(100vw - 33vw);
    overflow-x: hidden;
  }

  .menu__btn>span,
  .res-menu__btn>span::before,
  .res-menu__btn>span::after {
    display: block;
    height: 44px;
    transition-duration: .25s;
    width: 44px
  }

  .res-menu {
    display: flex;


  }

  .res-menu__btn {
    cursor: pointer;

  }

  .res-menu__btn>span::after {
    content: '';
    display: block
  }

  .res-menu__btn>span::before {
    background: url(../../../images/burger-menu.svg);
    content: '';
    position: absolute;
    top: auto;
    right: auto;
  }

  .accaunt-btn {
    margin: 0;
    position: absolute;
    bottom: 99px;

}
}