.navbar_type_el-navtab {
  padding: 25px;
  width: 100%;
  height: 66px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #272727;
}

.navtab__btns {
  justify-content: center;
  gap: 40px;
}

.navtab-btn:first-child {
  display: block;
}

.navtab-btn {
  margin: 0;
  font: normal 500 13px/1.23 Inter, Arial, sans-serif;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 321px) {
  .navtab-btn {
    margin-right: 24px;
    font-size: 11px;
    line-height: 1.45;
  }
}